/* FlashcardList.css */

.flashcard-list {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .flashcard-list h2 {
    color: #ffffff;
  }
  
  .flashcard-list ul {
    list-style: none;
    padding: 0;
  }
  
  .flashcard-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
  }
  
  .flashcard-list li strong {
    color: #333;
  }
  
  
  