/* Registration.css */

.registration-container {
    padding: 40px;
    border: 1px solid #ddd;
    text-align: center;
    color: white;
  }
  
  .input-field {
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .register-button {
    margin-top: 10px;
    padding: 8px;
    background-color: #06d459;
    color: white;
  }
  
  .register-button:hover {
    background-color: #00b339;
  }
  
  p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
