/* Home.css */

/* Header section*/
.home header {
    background-color:rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
    padding: 40px;
  }
  
  .home header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .home div h2 {
    color:rgb(255, 255, 255)
  }
  
  .home header p {
    font-size: 1.25rem;
  }

  .home div p {
    color:rgb(255, 255, 255)
  }
  
  /* Features section */
  .home .features {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 1000px;
  }
  
  .home .feature {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .home .feature img {
    max-width: 100px;
    height: auto;
  }
  
  /* Styles for the call to action section */
  .home .cta {
    text-align: center;
    margin-top: 40px;
  }
  
  .home .cta h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .home .cta button {
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;
  }