/* CreateFlashcard.css */

.container {
  padding: 40px;
  border: 1px solid #ddd;
  text-align: center;
  color: white;
}

.container h2 {
  text-align: center;
}

form {
  width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container button {
  margin-top: 10px;
  padding: 8px;
  background-color: #06d459;
  color: white;
}

button:hover {
  background-color: #00b339;
}
  